{% block head %}
    <style>
        .select2-search__field {
            background: url("https://cdn4.iconfinder.com/data/icons/feather/24/search-16.png") right top no-repeat;
            background-position: right;
        }
    </style>
{% endblock %}
<h3 class="text-left text-capitalize mb-1 title-style">
    language
</h3>
<div class="form-control mt-3 px-5 py-3" style="box-shadow: 0 0 10px red;" id="settings">
    <select class="select2" style="width: 400px; font-size: 20px">
        <option value="ab">Abkhaz</option>
        <option value="aa">Afar</option>
    </select>
</div>
<script>
    $(document).ready(function () {
        $('.select2').select2({
            dropdownCssClass: "select2-with-icon"
        });
    });
</script>