{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css"
          integrity="sha512-sopmFEmRVsWt542K+yzH3FQ1KJfdosOJG+bGLs9ZJT07b/3gUxRA9ICuJg2JtoZ9WeknAUuwJ0ggnmrV1YL6kQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
{% endblock head %}
<h3 class="text-left text-capitalize mb-1 title-style">
    login Management
</h3>
<div class="form-control mt-3 px-5 py-3 container" id="settings">
    <div class="row mt-1">
        <div class="h5">
            <b>Connect your account with</b>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            {% load socialaccount %}
            <div class="row mb-3 text-center justify-content-between">
                <div class="col-lg-4 zero-padding">
                    <div class="input-group col-lg-12 mt-3 mb-2">
                        <div class="input-group-text">
                            <div class="fa-brands fa-google social-media-icon"
                                 style="background-color: white;"></div>
                        </div>
                        <button class="btn btn-reddit btn-social-media col"
                                type="submit">
                            Google
                        </button>
                    </div>
                    {#                                                    </form>#}
                    {% comment %}<form action="{% provider_login_url "twitter" %}" method="post"
                          class="social_button_style">
                        {% csrf_token %}{% endcomment %}
                    <div class="input-group col-lg-12 mt-3 mb-2">
                        <div class="input-group-text">
                            <div class="fa-brands fa-twitter social-media-icon"
                                 style="color: #55ACEE"></div>
                        </div>
                        <button class="btn btn-twitter btn-social-media col"
                                type="submit">
                            Twitter
                        </button>
                    </div>

                    {#                                                    </form>#}
                </div>
                <div class="col-lg-4 zero-padding">
                    {% comment %} <form action="{% provider_login_url "facebook" method="oauth2" %}" method="post"
                          class="social_button_style">
                        {% csrf_token %}{% endcomment %}
                    <div class="input-group col-lg-12 mt-3 mb-2">
                        <div class="input-group-text">
                            <div class="fa-brands fa-facebook-f social-media-icon"
                                 style="color: #3B5998"></div>
                        </div>
                        <button class="btn btn-facebook btn-social-media col"
                                type="submit">
                            Facebook
                        </button>
                    </div>
                    {#                                                    </form>#}
                    {% comment %}<form action="{% provider_login_url "microsoft" %}" method="post"
                          class="social_button_style">
                        {% csrf_token %}{% endcomment %}
                    <div class="input-group col-lg-12 mt-3 mb-2">
                        <div class="input-group-text">
                            <div class="fa-brands social-media-icon">
                                <img style="height: 25px"
                                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAeklEQVR4nO3UMQqAMBBE0QUL7+F5LOxyxlSewTvZj/10Q8AI/gfbBpb8pAoAPklt08j4eft5aGSKBRo3IBJK8IgNv1CKhAwJpUjIkFCKhGYnBPzd0m+NjJ+na9XIFAt0bkAklOARG36hFAkZEkqRkCGhFAnNTggA6g0PsZwml5fu+o4AAAAASUVORK5CYII=">
                            </div>
                        </div>
                        <button class="btn btn-microsoft btn-social-media col"
                                type="submit">
                            Microsoft
                        </button>
                    </div>
                    {#                                                    </form>#}
                </div>
                <div class="col-lg-4 zero-padding">
                    {% comment %}<form action="{% provider_login_url "github" %}" method="post"
                          class="social_button_style">
                        {% csrf_token %}{% endcomment %}
                    <div class="input-group col-lg-12 mt-3 mb-2">
                        <div class="input-group-text">
                            <div class="fa-brands fa-github social-media-icon"
                                 style="color: #444444"></div>
                        </div>
                        <button class="btn btn-github btn-social-media col"
                                type="submit">
                            Github
                        </button>
                    </div>
                    {#                                                    </form>#}
                    {% comment %}<form action="{% provider_login_url "github" %}" method="post"
                          class="social_button_style">
                        {% csrf_token %}{% endcomment %}
                    <div class="input-group col-lg-12 mt-3 mb-2">
                        <div class="input-group-text">
                            <div class="fa-brands fa-linkedin social-media-icon"
                                 style="color: #007BB6"></div>
                        </div>
                        <button class="btn btn-linkedin btn-social-media col"
                                type="submit">LinkedIn
                        </button>
                    </div>
                    {#                                                    </form>#}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="h5">
            <b>Enable your Facial login</b>
        </div>
    </div>
    <div class="row my-2">
        <div>
            <button class="btn btn-light rounded-pill rounded-5 p-0 enable-facial-icon"
                    style=" width:90px; height: 50px">
                <i class="bi bi-camera" style="font-size:35px"></i>
            </button>
        </div>
    </div>
</div>