<h3 class="text-left mb-1 title-style">
    Personal Information
</h3>
<form class="form-control mt-3 px-5 py-3 main-container" id="form">
    <div class="row">
        <div class="col">
            <div class="form-floating mt-2 mb-3">
                <input id="first_name" name="first_name" type="text"
                       value="{{ user.first_name }}"
                       class="form-control" style="height: 45px"
                       placeholder="First Name" autofocus required>
                <label for="first_name" style="font-size: 16px;top:-7px; left:-7px;">
                    First Name
                </label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mt-2">
                <input id="last_name" name="last_name" type="text"
                       value="{{ user.last_name }}"
                       class="form-control" style="height: 45px"
                       placeholder="Last Name" required>
                <label for="last_name" style="font-size: 16px;top:-7px; left:-7px;">
                    Last Name
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input id="username" name="username" type="text"
                       value="{{ user.username }}"
                       class="form-control" style="height: 45px"
                       placeholder="Username" required>
                <label for="username" style="font-size: 16px;top:-7px; left:-7px;">
                    Username
                </label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input id="email" name="email" type="email"
                       value="{{ user.email }}"
                       class="form-control" style="height: 45px"
                       placeholder="Email address" required>
                <label for="email" style="font-size: 16px;top:-7px; left:-7px;">
                    Email Address
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating">
                <input id="phone_number" name="phone_number" type="text"
                       value="{{ user.phone }}"
                       class="form-control" style="height: 45px"
                       placeholder="Phone Number" required>
                <label for="phone_number" style="font-size: 16px;top:-7px; left:-7px;">
                    Phone Number
                </label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input id="old_password" name="password" type="password"
                       autocomplete="current-password"
                       class="form-control" style="height: 45px"
                       placeholder="Old Password" required>
                <label for="old_password" style="font-size: 16px;top:-7px; left:-7px;">
                    Old Password
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input id="new_password" name="new_password" type="password"
                       autocomplete="new-password"
                       class="form-control" style="height: 45px"
                       placeholder="New Password" required>
                <label for="new_password" style="font-size: 16px;top:-7px; left:-7px;">
                    New Password
                </label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input id="confirm_new_password" name="confirm_new_password" type="password"
                       autocomplete="new-password"
                       class="form-control" style="height: 45px"
                       placeholder="Confirm New Password" required>
                <label for="confirm_new_password" style="font-size: 16px;top:-7px; left:-7px;">
                    Confirm New Password
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <div class="input-group">
                    <label class="me-3 d-flex justify-content-center align-items-center" for="country">Country</label>
                    <select id="country" name="country" form="form"
                            class="form-select form-select-md personal-information">
                        <option value="Egypt" selected>Egypt</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <div class="input-group">
                    <label class="me-3 d-flex justify-content-center align-items-center" for="city">City</label>
                    <select id="city" name="city" form="form"
                            class="form-select form-select-md personal-information">
                        <option value="Cairo" selected>Cairo</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="input-group">
                <label class="me-3 d-flex justify-content-center align-items-center" for="birthdate">Birthdate: </label>
                <input id="birthdate" name="birthdate" type="date"
                       value="{{ user.birthdate|date:"Y-m-d" }}"
                       class="vDateField" size="10"
                       placeholder="Birthdate" required>
                <div class="input-group-text personal-information">
                    <label class="fas fa-calendar"></label>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col d-flex align-items-center">
                <div class="align-self-center">
                    <label>Gender: </label>
                    <div class="form-check form-check-inline setting-radio-button">
                        <input id="Male" name="gender" type="radio"
                                value="M"
                               {% if user.gender == "M" %}checked{% endif %}
                               class="form-check-input">
                        <label class="form-check-label" for="Male">Male</label>
                    </div>
                    <div class="form-check form-check-inline setting-radio-button">
                        <input id="Female" name="gender" type="radio"
                               value="F"
                               {% if user.gender == "F" %}checked{% endif %}
                               class="form-check-input">
                        <label class="form-check-label" for="Female">Female</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-2">
                <div class="text-center">
                    <button type="button" class="btn btn-lg btn-outline-success rounded-4 success-btn" >
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('.success-btn').click(function () {
            let form = $('#form');
            let formData = new FormData(form[0]);
            // print the form data to the console
            for (var pair of formData.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }
            $.ajax({
                url: "{% url 'update_personal_info' %}",
                type: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data['success']) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Your profile has been updated successfully',
                            showConfirmButton: false,
                            timer: 1500
                        }).then((result) => {
                            if (result.dismiss === Swal.DismissReason.timer) {
                                location.reload();
                            }
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Your profile has not been updated',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                }
            });
        });
    });
</script>