<h3 class="text-left text-capitalize mb-1 title-style">
    privacy policy
</h3>
<div class="form-control mt-3 px-5 py-3 container" id="settings">
    <div class="Times-New-Roman-font" style="font-size: 19px;text-align: justify">
        <b>With respect to your privacy, this policy is committed to protecting it.</b>
        <br>
        This Privacy Policy is provided by Memorizers to explain our policies and procedures concerning
        the collection, use, and protection of Personal Information obtained from your use of this website at
        <a href="{% url "home" %}" class="text-center" style="color: #3379E1;">www.memorizers.com</a> as well as any
        related websites, extensions, browser extensions, and other
        services we provide and our relationships with customers. This Privacy Policy describes your rights
        and options concerning Personal Information. It also explains how to reach us to correct your contact
        information and answer any questions about our privacy practices. Except for this Privacy Policy,
        we will not share or use your information. Our Website will only use the information we collect for
        the purposes set out in this Privacy Policy and our Terms and Conditions to Customers. This Privacy
        Policy should be carefully read. This Privacy Policy may be changed at any time on the Website.
        We will notify you via email and prominently on our website if there is a material change.
    </div>
</div>
