{% extends 'layouts/base.html' %}
{% block head %}
    <style>
        .select2-search__field {
            background: url("https://cdn4.iconfinder.com/data/icons/feather/24/search-16.png") right top no-repeat;
            background-position: right;
        }
    </style>
{% endblock %}
{% block content %}
    {% load static %}
    {% load custom_tags %}
    <div class="container-fluid">
        <div class="row justify-content-start">
            <div class="col-auto ms-2">
                <button type="button" id="button" class="col-auto btn btn-outline-primary rounded-4 secondary-btn"
                        data-bs-toggle="modal" data-bs-target="#view_model" style="top: 40px;position: relative;">
                    View my work
                </button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <h3 class="get-inspired-title">
                    <b>Get a quick peek at Memorizers' jaw-dropping presentations!</b>
                </h3>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-auto me-2">
                <button type="button" id="button" class="col-auto btn btn-outline-primary rounded-4 main-btn"
                        data-bs-toggle="modal" data-bs-target="#add_model" style="top: -40px;position: relative;">
                    Add your work
                </button>
            </div>
        </div>
    </div>

    {% for field in fields %}
        {% comment %}
            iterate over all fields and get the presentations for each field
        {% endcomment %}
        <div class="container-fluid p-0 mb-3">
            <h4 class="title-style ps-4">
                {{ field.name|capfirst }} field
            </h4>
            <div id="field-{{ field.id }}" field-id="{{ field.id }}" current-page="1" total_pages="1"
                 class="position-relative">
                <div id="presentations" class="row m-0" style="padding: 0 22px;">
                    {% for presentation in presentations|get_item:field.id %}
                        <div class="col-auto p-0 presentations-grid position-relative">
                            <img src="{% get_media_prefix %}presentation_files/{{ presentation.path }}/images/page_1.png"
                                 class="w-100 h-100 presentation-thumbnail">
                            <a href="{% url 'view_presentation' presentation.id %}"
                               class="presentation-link position-absolute start-0 top-0 w-100 h-100 d-flex justify-content-center align-items-center">
                                <i class="bi bi-play-fill"></i>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                {% if num_presentations_per_field|get_item:field.id > 5 %}
                    <button class="control previous-button position-absolute top-0 start-0 h-100 p-0"
                            style="display: none">
                        <i class="bi bi-chevron-left"></i>
                    </button>
                    <button class="control next-button position-absolute top-0 end-0 h-100 p-0">
                        <i class="bi bi-chevron-right"></i>
                    </button>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <h4 class="title-style ps-4">
            No public presentations available currently.
        </h4>
    {% endfor %}

    <!-- Modal -->
    <div class="modal fade" id="add_model" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 title-style">
                        Add your work
                    </h1>
                    <button type="button" class="button-close-modal" data-bs-dismiss="modal">
                        <i class="bi bi-x-lg button-close-modal-icon"></i>
                    </button>
                </div>
                <div class="modal-body" style="font-size: 18px">
                    <div class="row justify-content-center">
                        <div class="col-9">
                            {% if user.is_authenticated %}
                                <form action="{% url "upload_presentation" %}" method="post" id="form"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="file" name="presentation_file" id="upload-presentation-element"
                                           accept="application/pdf,
                                       application/vnd.ms-powerpoint,
                                       application/vnd.openxmlformats-officedocument.presentationml.slideshow,
                                       application/vnd.openxmlformats-officedocument.presentationml.presentation"
                                           onchange="show_file_name()" hidden/>
                                    <label id="upload-btn" class="btn btn-outline-secondary w-100"
                                           for="upload-presentation-element"
                                           data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Upload">
                                        <i class="bi bi-upload"></i> Upload your presentation file
                                    </label>
                                    <div class="form-floating mt-3">
                                        <select id="field" class="select2"
                                                style="background-color: #e61a1a;border-color: transparent">
                                            <option></option>
                                            <option value="Education">Education</option>
                                            <option value="Healthcare">Healthcare</option>
                                            <option value="Business">Business</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-floating mt-3" id="add_field" style="display: none;">
                                        <input type="text" class="form-control" style="height: 45px" placeholder="add"
                                               id="add" name="add" autofocus required>
                                        <label for="add" style="font-size: 16px;top:-7px; left:-7px;">
                                            Add A New Field
                                        </label>
                                    </div>
                                </form>
                            {% else %}
                                <h5 class="text-center">
                                    You must be logged in to upload your presentation!
                                </h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" id="upload-presentation-button" class="btn btn-outline-primary"
                            data-bs-dismiss="modal">{% if user.is_authenticated %}Upload{% else %}Close{% endif %}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="view_model" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 title-style">
                        My Beautiful Work
                    </h1>
                    <button type="button" class="button-close-modal" data-bs-dismiss="modal">
                        <i class="bi bi-x-lg button-close-modal-icon"></i>
                    </button>
                </div>
                <div class="modal-body" style="font-size: 18px">
                    <div class="row justify-content-center">
                        <div class="col-9">
                            {% comment %}
                                    iterate over all user's presentations and show them in a grid view 3 per row with a link to view each one
                                {% endcomment %}
                            <div class="row">
                                {% if user.is_authenticated %}
                                    {% for presentation in user_presentations %}
                                        <div class="col-auto my-presentations-grid position-relative p-0 mb-3" presentation-id="{{ presentation.id }}">
                                            <img src="{% get_media_prefix %}presentation_files/{{ presentation.path }}/images/page_1.png"
                                                 class="w-100 h-100 presentation-thumbnail">
                                            <a href="{% url 'view_presentation' presentation.id %}"
                                               class="presentation-link position-absolute start-0 top-0 w-100 h-100 d-flex justify-content-center align-items-center">
                                                <i class="bi bi-play-fill"></i>
                                            </a>
                                            {% comment %}
                                                show a lock icon if the presentation is private and a unlock icon if it's public
                                                when the user clicks on the icon it will change the presentation's privacy
                                            {% endcomment %}
                                            <div class="position-absolute end-0 top-0 p-1">
                                                <button class="presentation-privacy">
                                                    {% if presentation.public %}
                                                        <i class="presentation-privacy-icon bi bi-unlock-fill"></i>
                                                    {% else %}
                                                        <i class="presentation-privacy-icon bi bi-lock-fill"></i>
                                                    {% endif %}
                                                </button>
                                            </div>
                                        </div>
                                    {% empty %}
                                        {% comment %}
                                                if user has no presentations show a message.
                                        {% endcomment %}
                                        <h5 class="text-center">
                                            No presentations available. Upload your first presentation now!
                                        </h5>
                                    {% endfor %}
                                {% else %}
                                    {% comment %}
                                            if user is not authenticated show a message.
                                    {% endcomment %}
                                    <h5 class="text-center">
                                        You must be logged in to view your presentations.
                                    </h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let $field = $('#field');
        let $add_field = $('#add_field');
        let $form = $('#form');
        $(document).ready(function () {
            $('.select2').select2({
                placeholder: 'Choose a field',
                dropdownParent: $('#add_model'),
                width: '100%',
                dropdownCssClass: "select2-with-icon"
            });
        });

        function show_file_name() {
            let file = get_presentation_file();
            // check if a file is selected
            if (!file) {
                $('#upload-btn')[0].innerHTML = 'Upload your presentation file';
            } else {
                // show selected file name
                $('#upload-btn')[0].innerHTML = "File: " + file.name;
            }
        }

        function get_presentation_file() {
            return $('#upload-presentation-element')[0].files[0];
        }

        function get_field_value() {
            return $field.find(':selected').val();
        }

        $field.on('change', function () {
            if (get_field_value() === 'Other') {
                $add_field.show();
            } else {
                $add_field.hide();
            }
        })

        // when the upload button is clicked, send the file and the field to the server
        $('#upload-presentation-button').on('click', function () {
            let file = get_presentation_file();
            let field = get_field_value();
            let add = $('#add').val();
            if (file && field) {
                if (field === 'Other' && add) {
                    field = add;
                }
                // send the form
                // create a hidden input field and append it to the form to send the field value
                let hidden_field = $("<input>").attr("type", "hidden").attr("name", "field").val(field);
                $form.append(hidden_field);
                $form.submit();
            }
            else {
                show_alert("warning", "Please select a file and a field");
            }
        });

        // send a request to the server to get the presentations of the field with the given id and the given page
        async function get_field_presentations(field_id, page) {
            $.ajax({
                url: "{% url "get_field_presentations" %}",
                type: "POST",
                headers: {"X-CSRFToken": "{{ csrf_token }}"},
                data: {
                    field_id: field_id,
                    page: page,
                },
                dataType: "json",
                success: async function (response) {
                    response = await response;
                    // replace the page with the new page content and update the current page and the total pages
                    replace_page(field_id, response.presentations, response.current_page, response.total_pages);
                },
                error: function (xhr) {
                    show_alert("danger", xhr.responseJSON.message);
                }
            });
        }

        // add event listener to all the previous and next buttons
        $('.next-button').on('click', function () {
            // get the current page from the parent element for this field
            let current_page = $(this).parent().attr('current-page');
            // get the field id
            let field_id = parseInt($(this).parent().attr('field-id'));

            // get the next page
            let next_page = parseInt(current_page) + 1;

            // get the field presentations for the next page
            get_field_presentations(field_id, next_page);
        });

        $('.previous-button').on('click', function () {
            // get the current page from the parent element for this field
            let current_page = $(this).parent().attr('current-page');
            // get the field id
            let field_id = parseInt($(this).parent().attr('field-id'));

            // get the previous page
            let previous_page = parseInt(current_page) - 1;

            // get the field presentations for the previous page
            get_field_presentations(field_id, previous_page);
        });

        // replace the current page with the new page
        function replace_page(field_id, presentations, new_page, total_pages) {
            // get the parent element
            let $parent = $('#field-' + field_id);
            let current_page = parseInt($parent.attr('current-page'));

            // check if the new page is the last page
            if (new_page === total_pages) {
                // hide the next button
                $parent.find('.next-button').hide();
            }
            else {
                // show the next button
                $parent.find('.next-button').show();
            }

            // check if the new page is the first page
            if (new_page === 1) {
                // hide the previous button
                $parent.find('.previous-button').hide();
            }
            else {
                // show the previous button
                $parent.find('.previous-button').show();
            }

            // check if the new page is the current page
            if (new_page === current_page) {
                // do nothing
                return;
            }
            // set the current page to the new page
            $parent.attr('current-page', new_page);

            // remove all the previous presentations from the parent element
            $parent.find('.presentations-grid').remove();

            // create a new presentations element
            let $presentations = $parent.find('#presentations');

            // iterate over the presentations
            $.each(presentations, function (index, presentation) {
                // create a new presentation element
                let $new_presentation = $('<div class="col-auto p-0 presentations-grid position-relative"></div>');
                let $new_presentation_thumbnail = $('<img src="{% get_media_prefix %}presentation_files/' + presentation.path + '/images/page_1.png" class="w-100 h-100 presentation-thumbnail">');
                let $new_presentation_link = $('<a href="{% url "view_presentation" %}/' + presentation.id + '" class="presentation-link position-absolute start-0 top-0 w-100 h-100 d-flex justify-content-center align-items-center"><i class="bi bi-play-fill"></i></a>');

                // add the new presentations to the parent element
                $new_presentation.append($new_presentation_thumbnail);
                $new_presentation.append($new_presentation_link);
                $presentations.append($new_presentation);
            });
        }

        // add event listener to all .presentation-privacy buttons
        $('.presentation-privacy').on('click', function () {
            // get the button
            let $this = $(this);

            // get the presentation id
            let presentation_id = $this.parent().parent().attr('presentation-id');
            // get the presentation privacy (public or true) -> (private or false)
            // if the button has the bi-unlock-fill class then the presentation is public
            let presentation_privacy = $this.children().hasClass('bi-unlock-fill');

            // reverse the privacy to change it
            presentation_privacy = !presentation_privacy;

            // convert true to 1 and false to 0
            presentation_privacy = presentation_privacy ? 1 : 0;

            // send a request to the server to change the presentation privacy
            $.ajax({
                url: "{% url "toggle_presentation_privacy" %}",
                type: "POST",
                headers: {"X-CSRFToken": "{{ csrf_token }}"},
                data: {
                    presentation_id: presentation_id,
                    privacy: presentation_privacy,
                },
                dataType: "json",
                success: async function (response) {
                    response = await response;
                    // change the presentation privacy and replace the old privacy with the new privacy

                    // read the new privacy from the response as boolean
                    let privacy = Boolean(Number(response.privacy));
                    if (privacy) {
                        // change the presentation privacy to public
                        $this.children().removeClass('bi-lock-fill').addClass('bi-unlock-fill');
                    }
                    else {
                        // change the presentation privacy to private
                        $this.children().removeClass('bi-unlock-fill').addClass('bi-lock-fill');
                    }
                },
                error: function (xhr) {
                    show_alert("danger", xhr.responseJSON.message);
                }
            });
        });
    </script>
{% endblock %}
