{% extends 'layouts/base.html' %}
{% block head %}
    <script src="https://fastly.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
            crossorigin="anonymous"></script>
    <script src="https://fastly.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
{% endblock head %}
{% block content %}
    {% load static %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div id="carousel" class="carousel slide positive-relative">
                    <div class="carousel-inner mx-auto"  style="width: 980px; height: 552px;">
                        {% for page in pages_range %}
                            <div class="carousel-item text-center w-100 h-100{% if forloop.first %} active{% endif %}">
                                <img src="{% get_media_prefix %}presentation_files/{{ presentation.path }}/images/page_{{ forloop.counter }}.png"
                                     class="w-100 h-100" style="object-fit: contain;">
                                <h5 class="carousel-caption d-none">
                                    <div id="page">Slide {{ forloop.counter }} / {{ number_pages }}</div>
                                </h5>
                            </div>
                        {% endfor %}
                        <div id="drawing-area" class="position-absolute w-100 h-100">
                            <canvas id="drawing-canvas" class="position-absolute w-100 h-100"></canvas>
                            <canvas id="pointer-canvas" class="position-absolute w-100 h-100"></canvas>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                    <div class="position-absolute top-100 start-50 translate-middle h5" id="page_number">Slide 1 / {{ number_pages }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="z-2 position-fixed bottom-0 end-0" style="margin: 10px!important;">
        <section id="touchless-control-webcam" class="invisible">
            <div class="form-check form-switch" style="margin-bottom: 10px;">
                <input class="form-check-input" type="checkbox" name="selfie-mode" id="selfie-mode" checked>
                <label class="form-check-label" for="selfie-mode">Selfie Mode</label>
            </div>
            <button id="webcamButton" class="btn btn-primary">
                Enable Webcam
            </button>
            <div id="output_container" class="position-relative" hidden>
                <video id="webcam" autoplay playsinline class="selfie-mode"></video>
                <canvas id="output_canvas" class="output_canvas position-absolute top-0 start-0 selfie-mode"></canvas>
            </div>
        </section>
    </div>
    <script>
        function get_current_page() {
            let page = $("div.carousel-item.text-center.active #page").html();
            return page;
        }
        $('#carousel').on('slid.bs.carousel', function () {
            let page = get_current_page();
            $("#page_number").html(page);
        });
    </script>
    <script type="module" src="{% static 'js/Hand_Landmarker_Detection.js' %}"></script>
{% endblock content %}
