{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "layouts/required_library.html" %}
        <script src="{% static '/js/themes.js' %}"></script>
        {% block head %}
        {% endblock head %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    </head>
    <body class="d-flex flex-column min-vh-100 bg-body text-body Times-New-Roman-font">
        {% include "layouts/nav.html" %}
        {% include "layouts/success.html" %}
        {% include "layouts/error.html" %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {% include "layouts/footer.html" %}
    </body>
</html>
