{% load static %}
{% load custom_tags %}
<header class="navbar navbar-expand-xl bg-navbar sticky-top rounded-bottom bg-body-tertiary px-4">
    <nav class="container-fluid flex-wrap flex-xl-nowrap">
        <a class="navbar-brand active Algerian-font fs-4" href="{% url "home" %}">
            <img class="d-inline-block align-text-middle rounded-circle" src="{% static 'images/logo.png' %}" alt="logo"
                 style="width: 45px; height: 50px;">
            MEMORIZERS
        </a>
        <div class="d-flex">
            <button class="navbar-toggler d-flex d-xl-none order-3 p-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="offcanvas-xl offcanvas-end flex-grow-1" tabindex="-1" id="Navbar"
             data-bs-scroll="true" data-bs-backdrop="false">
            <div class="offcanvas-header px-4 pb-0">
                <h4 class="offcanvas-title Algerian-font">
                    MEMORIZERS
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#Navbar"></button>
            </div>

            <div class="offcanvas-body p-4 pt-0 p-xl-0">
                <hr class="d-xl-none opacity-50">
                <ul class="navbar-nav flex-row flex-wrap align-items-center">
                    <li class="nav-item col-6 col-xl-auto">
                        <a class="nav-link py-2 px-0 px-xl-2"
                           href="{% url "home" %}#Home">
                            <i class='fas fa-home icon-style'></i> Home
                        </a>
                    </li>
                    <li class="nav-item col-6 col-xl-auto">
                        <a class="nav-link py-2 px-0 px-xl-2"
                           href="{% url "home" %}#About">
                            <i class='fa-solid fa-circle-info icon-style'></i> About
                        </a>
                    </li>
                    <li class="nav-item col-6 col-xl-auto">
                        <a class="nav-link py-2 px-0 px-xl-2"
                           href="{% url "home" %}#Contacts">
                            <i class='fa fa-comment icon-style'></i> Contacts
                        </a>
                    </li>
                    <li class="nav-item col-6 col-xl-auto">
                        <a class="nav-link py-2 px-0 px-xl-2 {% active request.path "image_generation" %}"
                           href="{% url "image_generation" %}">
                            <i class="fa fa-image icon-style"></i> Image Generation
                        </a>
                    </li>
                    <li class="nav-item col-6 col-xl-auto">
                        <a class="nav-link py-2 px-0 px-xl-2 {% active request.path "text_simplification" %}"
                           href="{% url "text_simplification" %}">
                            <i class='fa fa-file-lines icon-style'></i> Text Simplification
                        </a>
                    </li>
                    <li class="nav-item col-6 col-xl-auto">
                        <a class="nav-link py-2 px-0 px-xl-2 {% active request.path "video_generation" %}"
                           href="{% url "video_generation" %}">
                            <i class='fa fa-video icon-style'></i> Character Transformation
                        </a>
                    </li>
                    <li class="nav-item col-6 col-xl-auto">
                        <a class="nav-link py-2 px-0 px-xl-2 {% active request.path "get_inspired"%}"
                           href="{% url "get_inspired" %}">
                            <i class="bi bi-file-earmark-ppt-fill icon-style"></i> Get Inspired
                        </a>
                    </li>
                </ul>
                <hr class="d-xl-none opacity-50">
                <ul class="navbar-nav flex-row flex-wrap ms-md-auto align-items-center">
                    {% if user.is_authenticated %}
                        {% load socialaccount %}
                        {% get_social_accounts user as accounts %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center text-capitalize fw-bold"
                               href="" role="button"
                               data-bs-toggle="dropdown">
                                <img src="{% if user.picture %}
                                                {{ user.picture.url }}
                                          {% elif accounts.google.0.extra_data.picture %}
                                                {{ accounts.google.0.extra_data.picture }}
                                          {% else %}
                                                https://img.icons8.com/material/48/000000/user-male-circle--v1.png
                                          {% endif %}"
                                     class="rounded-circle d-inline-block align-text-middle me-2 bg-white"
                                     height="40" width="40" loading="lazy"/>
                                {{ user.get_username }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end end-0" style="--bs-dropdown-min-width: 8.5rem;">
                                {% comment %}
                                <li>
                                    <a class="dropdown-item {% active request.path "profile" %}"
                                       href="{% url "profile" %}">
                                        <i class='fa fa-user icon-style'></i> Profile
                                    </a>
                                </li>
                                {% endcomment %}
                                <li>
                                    <a class="dropdown-item {% active_in request.path "settings" %}"
                                       href="{% url "settings" %}">
                                        <i class="fa fa-gear icon-style"></i> Settings
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item fw-bold" href="{% url "logout" %}">
                                        <i class='fa fa-sign-out icon-style'></i> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item col-6 col-xl-auto">
                            <a class="nav-link py-2 px-0 px-xl-2 {% active request.path "login" %}"
                               href="{% url "login" %}">
                                <i class='fa fa-sign-in icon-style'></i> Login
                            </a>
                        </li>
                        <li class="nav-item col-6 col-xl-auto">
                            <a class="nav-link py-2 px-0 px-xl-2 {% active request.path "signup" %}"
                               href="{% url "signup" %}">
                                <i class='fa fa-user-plus icon-style'></i> Sign Up
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item py-2 py-xl-1 col-12 col-xl-auto">
                        <div class="vr d-none d-xl-flex h-100 mx-xl-2"></div>
                        <hr class="d-xl-none my-2 opacity-50">
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn btn-link nav-link py-2 px-0 px-xl-2 dropdown-toggle d-flex align-items-center"
                                type="button" data-bs-toggle="dropdown" data-bs-display="static">
                            <i class="bi bi-circle-half my-1 theme-icon-active"></i>
                            <span class="d-xl-none ms-2">Toggle theme</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" style="--bs-dropdown-min-width: 8rem;">
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center"
                                        data-bs-theme-value="light">
                                    <i class="bi bi-sun-fill me-2 opacity-50"></i>
                                    Light
                                    <i class="bi bi-check2 ms-auto d-none"></i>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center"
                                        data-bs-theme-value="dark">
                                    <i class="bi bi-moon-stars-fill me-2 opacity-50"></i>
                                    Dark
                                    <i class="bi bi-check2 ms-auto d-none"></i>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center active"
                                        data-bs-theme-value="auto">
                                    <i class="bi bi-circle-half me-2 opacity-50"></i>
                                    Auto
                                    <i class="bi bi-check2 ms-auto d-none"></i>
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
