{% load static %}
<div data-bs-spy="scroll" data-bs-target="#Navbar" data-offset="76">
    <div class="container-fluid p-0" id="Home" style="margin-bottom: -100px;">
        <img src="{% static 'images/blue_diamond/home.png' %}" class="img-fluid ms-5 mt-5" alt="image" style="width:900px;
            position: relative;right: -100px">
        <div class="row" style="    margin-right: 0;">
            <div class="text-center">
                <div class="d-flex flex-column justify-content-center ms-5 mb-5" style="height: 125px;
                    width: 709px; position: relative; bottom: 70px;left: 614px; background-color: white; border-color: black">
                    <div class="text-capitalize" style="color: #000080; font-size: 2.5rem;">PREPARE MY PRESENATION
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5 position-relative" style="bottom: 100px; margin-right: 0;">
            <div class="col-6">
                <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0"
                                class="active"></button>
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <div class="text-center">
                                <div class="d-flex flex-column justify-content-center cards-style border border-5">
                                    <div class="h1 text-white text-capitalize">IMAGE</div>
                                    <div class="text-white">Make an image of your text</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="text-center">
                                <div class="d-flex flex-column justify-content-center cards-style border border-5">
                                    <div class="h1 text-white text-capitalize">TEXT</div>
                                    <div class="text-white">Simplify your text by another text</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="text-center">
                                <div class="d-flex flex-column justify-content-center cards-style border border-5">
                                    <div class="h1 text-white text-capitalize">VIDEO</div>
                                    <div class="text-white">Exchange your video by a video with another
                                        character
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0" id="About" style="margin-top: 70px;padding-top: 30px!important;">
        <div class="row justify-content-md-center" style="margin-top: 48px     ;margin-right: 0;
">
            <div class="col-lg-4" style="margin-top: 55px;">
                <div class="card card-block d-flex rounded-0"
                     style="background-color: transparent; border: none;">
                    <div class=" h1 text-capitalize card-head text-center " ;>
                        about us
                    </div>
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <div class=" h4" style="text-align:justify;">
                            We are a team of five people working to develop the best products
                            to help our customers build their presentations effectively.
                            Our goal at a buffer has always been to do things a little differently.
                            Since our beginnings, we have strived to create the most unique systems possible.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/blue_diamond/about.jpg' %}" class="img-fluid ms-5"
                                 alt="image"
                                 style="height: 400px;margin: 0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0" id="Contacts" style="margin-top: -124px;">
        <div class="position-relative contact-img-shadow" style="width: 470px; bottom: -433px ;right: -356px;">
            <img src="{% static 'images/blue_diamond/contacts.jpg' %}" class="img-fluid"
                 alt="image">
            <div class="position-absolute top-50 start-50 translate-middle-y h1 text-capitalize text-white">contact us
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center ms-5" style="height: 660px;
                    width: 500px; position: relative; bottom: 40px; left: 645px; background-color: white; border-color: black; z-index: -1">
            <div class="row justify-content-center m-0 pt-2 text-center">
                <div class="col-6">
                    <div class="row mb-5">
                        <div class="col-12">
                            <i class="bi bi-geo-alt-fill contacts-icon-style rounded-5"></i>
                        </div>
                        <div class="contacts-title-style">Address</div>
                        <div style="color: black">
                            7 Memorizers Buildings,<br>
                            90th Street, Fifth Settlement,<br>
                            New Cairo, Egypt<br>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-12">
                            <i class="bi bi-telephone-fill contacts-icon-style rounded-5"></i>
                        </div>
                        <div class="contacts-title-style">Phone</div>
                        <div style="color: black">
                            Number: {{ contact_phone }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <i class="bi bi-envelope contacts-icon-style rounded-5"></i>
                        </div>
                        <div class="contacts-title-style">Email</div>
                        <div>
                            <a class="link-primary" href="mailto:{{ contact_email }}">
                                {{ contact_email }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
