{% extends 'layouts/base.html' %}
{% block content %}
    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h3 class="">
                    <b>Get a quick peek at Memorizers' jaw-dropping presentations!</b>
                </h3>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-auto me-2">
                <button type="button" id="button" class="col-auto btn btn-outline-primary rounded-4"
                        data-bs-toggle="modal" data-bs-target="#add" style="top: -40px;position: relative;">
                    Add your work
                </button>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row justify-content-left">
            <div class="col-5 ms-2">
                <label for="medical-field" class="form-label h4 d-flex justify-content-left"
                       style="-webkit-text-stroke: 1px #e61a1a; color: black;">Education field</label>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row" style="padding-left: 7px; padding-top: 5px">
        <div class="p-2 presentations-grid "></div>
        <div class="p-2 presentations-grid"></div>
        <div class="p-2 presentations-grid"></div>
        <div class="p-2 presentations-grid"></div>
        <div class="p-2 presentations-grid"
             style="background-image: linear-gradient(to right, transparent , grey, grey), url(https://www.w3schools.com/css/img_flwr.gif); background-blend-mode: multiply; background-position: center center; background-size: cover; display: flex; align-items: center; justify-content: center;">

            <button type="button" id="button"
                    style="font-size: 40px;height: 40px; display: flex; align-items: center; justify-content: center;color: #e61a1a; background-color: white"
                    class="btn btn-lg btn-outline-primary rounded-4"><b>+</b>
            </button>

        </div>
    </div>
    <br>

    <div class="container-fluid">
        <div class="row justify-content-left">
            <div class="col-5 ms-2">
                <label for="medical-field" class="form-label h4 d-flex justify-content-left"
                       style="-webkit-text-stroke: 1px #e61a1a; color: black;">Healthcare field</label>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row" style="padding-left: 7px; padding-top: 5px">
        <div class="p-2 presentations-grid "></div>
        <div class="p-2 presentations-grid"></div>
        <div class="p-2 presentations-grid"></div>
        <div class="p-2 presentations-grid"></div>
        <div class="p-2 presentations-grid"
             style="background-image: linear-gradient(to right, transparent , grey, grey), url(https://www.w3schools.com/css/img_flwr.gif); background-blend-mode: multiply; background-position: center center; background-size: cover; display: flex; align-items: center; justify-content: center;">
            <button type="button" id="button"
                    style="font-size: 40px;height: 40px; display: flex; align-items: center; justify-content: center;color: #e61a1a; background-color: white"
                    class="btn btn-lg btn-outline-primary rounded-4"><b>+</b>
            </button>
        </div>

    </div>
    <br>

    <div class="container-fluid">
        <div class="row justify-content-left">
            <div class="col-5 ms-2">
                <label for="medical-field" class="form-label h4 d-flex justify-content-left"
                       style="-webkit-text-stroke: 1px #e61a1a; color: black;">Business field</label>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row" style="padding-left: 7px; padding-top: 5px; padding-bottom: 20px">
        <div class="p-2 presentations-grid "></div>
        <div class="p-2 presentations-grid"></div>
        <div class="p-2 presentations-grid"></div>
        <div class="p-2 presentations-grid"></div>
        <div class="p-2 presentations-grid"
             style="background-image: linear-gradient(to right, transparent , grey, grey), url(https://www.w3schools.com/css/img_flwr.gif); background-blend-mode: multiply; background-position: center center; background-size: cover; display: flex; align-items: center; justify-content: center;">
            <button type="button" id="button"
                    style="font-size: 40px;height: 40px; display: flex; align-items: center; justify-content: center; color: #e61a1a; background-color: white"
                    class="btn btn-lg btn-outline-primary rounded-4"><b>+</b>
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="add" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5"
                        style="-webkit-text-stroke: 1px #e61a1a; color: black;font-size: 10px" id="add">
                        <i class="" style="color: white"></i>Add your work</h1>
                    <button type="button" data-bs-dismiss="modal"
                            style="background-color: transparent;border: 0">
                        <i class="bi bi-x-lg" style="color: #e61a1a;"></i>
                    </button>
                </div>
                <div class="modal-body pe-0 Times-New-Roman-font"
                     style="font-size: 18px">
                    <div class="row justify-content-center">
                        <div class="col-9">
                            <div class="row justify-content-center mb-4" style="margin-top: -10px;">
                                <div class="col-lg-20">
                                    <div class="form-floating mt-3">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle"
                                                    style="width: 3556px; font-size: 18px; background-color: #e61a1a;border-color: transparent"
                                                    type="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                Choose a field
                                            </button>
                                            <ul class="dropdown-menu"
                                                style="width: 356px; font-size: 16px; --bs-dropdown-link-hover-bg:#ff8a8a4d">
                                                <li><a class="dropdown-item" href="#">Education</a></li>
                                                <li><a class="dropdown-item" href="#">Healthcare</a></li>
                                                <li><a class="dropdown-item" href="#">Business</a></li>
                                                <li><a class="dropdown-item" href="#">Other</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-floating">
                                        < class="form-control" style="height: 45px" placeholder="add"
                                        id="add" name="add" autofocus required>
                                        <label for="add" style="font-size: 16px;top:-7px; left:-7px;">Add A New Field
                                        </label>
                                    </div>
                                    <br>
                                    <div class="text-center">
                                        <button type="button" id="button"
                                                class="btn btn-lg btn-outline-primary rounded-4"
                                                style="font-size: 16px">
                                            Upload
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}