{% extends 'layouts/base.html' %}
{% load static %}
{% block head %}
    <style>
        {# to fix Scrollspy #}
        html {
            scroll-padding-top: 76px;
        }
    </style>
{% endblock head %}
{% block content %}
    {% if request.COOKIES.design_mode == "Red_Dragon" %}
        {% include "red_dragon/home.html" %}
    {% elif request.COOKIES.design_mode == "Blue_Diamond" %}
        {% include  "blue_diamond/home.html" %}
    {% elif request.COOKIES.design_mode == "Lavender_Love" %}
        {% include  "lavender_love/home.html" %}
    {% endif %}
{% endblock content %}
