{% extends 'layouts/base.html' %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css"
          integrity="sha512-sopmFEmRVsWt542K+yzH3FQ1KJfdosOJG+bGLs9ZJT07b/3gUxRA9ICuJg2JtoZ9WeknAUuwJ0ggnmrV1YL6kQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
{% endblock head %}
{% block content %}
    <div class="modal fade" tabindex="-1" id="facial-login" style="color: black">
        <div class="modal-dialog modal-dialog-centered modal-xl" style="">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-capitalize">
                        ⚠️ we will take a photo automatically just don't move
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <video class="col" autoplay playsinline id="videoElement"></video>
                        <div style="height: 0px;visibility: hidden;" id="confirm-div"
                             class="d-flex align-items-center justify-content-center h1">
                            <a class="btn btn-lg btn-default" style="color: white;" href="{% url "home" %}"
                               id="result-div-login">
                                Done
                            </a>
                        </div>
                    </div>
                    <canvas id="canvas" width="400" height="300" hidden></canvas>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="form-control mt-4 main-container" style="height: 540px;" id="signup">
                    <h1 class="text-center mb-6 pt-6 title-style">
                        Please Login
                    </h1>
                    <br>
                    <div class="row justify-content-center">
                        <div class="col-9">
                            <div class="row justify-content-center mb-4" style="margin-top: -10px;">
                                <div class="col">
                                    <form action="{% url "login" %}" method="post" id="form">
                                        {% csrf_token %}
                                        <div class="form-floating mb-3">
                                            <input id="username_email" name="username_email" type="text"
                                                   autocomplete="username"
                                                   class="form-control" style="height: 45px"
                                                   placeholder="Email address or username" autofocus required>
                                            <label for="username_email" style="font-size: 16px;top:-7px; left:-7px;">
                                                Email address or username
                                            </label>
                                        </div>
                                        <div class="form-floating">
                                            <input id="password" name="password" type="password"
                                                   autocomplete="current-password"
                                                   class="form-control" style="height: 45px"
                                                   placeholder="Password" required>
                                            <label for="password" style="font-size: 16px;top:-7px; left:-7px;">
                                                Password
                                            </label>
                                        </div>
                                        <div class="text-end">
                                            <a href="#" class="text-center" style="color: #3379E1;">Forgot password?</a>
                                        </div>
                                        <div class="form-check checkbox-button">
                                            <input class="form-check-input" type="checkbox"
                                                   value=""
                                                   id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox">
                                                Remember me
                                            </label>
                                        </div>
                                        <div class="row justify-content-center">
                                            <button type="submit" id="button"
                                                    class="btn btn-lg col-auto btn-outline-primary main-btn">
                                                Login
                                            </button>
                                        </div>
                                    </form>
                                    <div class="row my-2">
                                        <div class="col d-inline-flex justify-content-end align-items-center">
                                            <hr class="opacity-50" style="width: 150px">
                                        </div>
                                        <div class="col-3 text-center mx-2">

                                            <label class="" style="font-size: 18px"
                                                   for="exampleCheckbox">
                                                <b>Or login with</b>
                                            </label>
                                        </div>
                                        <div class="col d-inline-flex justify-content-start align-items-center">
                                            <hr class="opacity-50" style="width: 150px">
                                        </div>
                                    </div>


                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-light rounded-5 p-0 enable-facial-icon"
                                                style="width:60px; height: 40px" data-bs-toggle="modal"
                                                data-bs-target="#facial-login">
                                            <i class="bi bi-camera" style="font-size:30px"></i>
                                        </button>
                                    </div>

                                    {% load socialaccount %}
                                    <div class="row mb-3 text-center justify-content-between">
                                        <div class="col-lg-4 zero-padding">
                                            <div class="input-group col-lg-12 mt-3 mb-2">
                                                <div class="input-group-text">
                                                    <div class="fa-brands fa-google social-media-icon"
                                                         style="background-color: white;"></div>
                                                </div>
                                                <button class="btn btn-reddit btn-social-media col"
                                                        type="submit">
                                                    Google
                                                </button>
                                            </div>
                                            {#                                                    </form>#}
                                            {% comment %}<form action="{% provider_login_url "twitter" %}" method="post"
                          class="social_button_style">
                        {% csrf_token %}{% endcomment %}
                                            <div class="input-group col-lg-12 mt-3 mb-2">
                                                <div class="input-group-text">
                                                    <div class="fa-brands fa-twitter social-media-icon"
                                                         style="color: #55ACEE"></div>
                                                </div>
                                                <button class="btn btn-twitter btn-social-media col"
                                                        type="submit">
                                                    Twitter
                                                </button>
                                            </div>

                                            {#                                                    </form>#}
                                        </div>
                                        <div class="col-lg-4 zero-padding">
                                            {% comment %} <form action="{% provider_login_url "facebook" method="oauth2" %}" method="post"
                          class="social_button_style">
                        {% csrf_token %}{% endcomment %}
                                            <div class="input-group col-lg-12 mt-3 mb-2">
                                                <div class="input-group-text">
                                                    <div class="fa-brands fa-facebook-f social-media-icon"
                                                         style="color: #3B5998"></div>
                                                </div>
                                                <button class="btn btn-facebook btn-social-media col"
                                                        type="submit">
                                                    Facebook
                                                </button>
                                            </div>
                                            {#                                                    </form>#}
                                            {% comment %}<form action="{% provider_login_url "microsoft" %}" method="post"
                          class="social_button_style">
                        {% csrf_token %}{% endcomment %}
                                            <div class="input-group col-lg-12 mt-3 mb-2">
                                                <div class="input-group-text">
                                                    <div class="fa-brands social-media-icon">
                                                        <img style="height: 25px"
                                                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAeklEQVR4nO3UMQqAMBBE0QUL7+F5LOxyxlSewTvZj/10Q8AI/gfbBpb8pAoAPklt08j4eft5aGSKBRo3IBJK8IgNv1CKhAwJpUjIkFCKhGYnBPzd0m+NjJ+na9XIFAt0bkAklOARG36hFAkZEkqRkCGhFAnNTggA6g0PsZwml5fu+o4AAAAASUVORK5CYII=">
                                                    </div>
                                                </div>
                                                <button class="btn btn-microsoft btn-social-media col"
                                                        type="submit">
                                                    Microsoft
                                                </button>
                                            </div>
                                            {#                                                    </form>#}
                                        </div>
                                        <div class="col-lg-4 zero-padding">
                                            {% comment %}<form action="{% provider_login_url "github" %}" method="post"
                          class="social_button_style">
                        {% csrf_token %}{% endcomment %}
                                            <div class="input-group col-lg-12 mt-3 mb-2">
                                                <div class="input-group-text">
                                                    <div class="fa-brands fa-github social-media-icon"
                                                         style="color: #444444"></div>
                                                </div>
                                                <button class="btn btn-github btn-social-media col"
                                                        type="submit">
                                                    Github
                                                </button>
                                            </div>
                                            {#                                                    </form>#}
                                            {% comment %}<form action="{% provider_login_url "github" %}" method="post"
                          class="social_button_style">
                        {% csrf_token %}{% endcomment %}
                                            <div class="input-group col-lg-12 mt-3 mb-2">
                                                <div class="input-group-text">
                                                    <div class="fa-brands fa-linkedin social-media-icon"
                                                         style="color: #007BB6"></div>
                                                </div>
                                                <button class="btn btn-linkedin btn-social-media col"
                                                        type="submit">LinkedIn
                                                </button>
                                            </div>
                                            {#                                                    </form>#}
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <label class="form-check-label" for="exampleCheckbox">
                                            Looking to
                                            <a href="{% url "signup" %}" class="text-center"
                                               style="color: #3379E1;">
                                                create an account
                                            </a>
                                            ?
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const myModalEl = document.getElementById('facial-login')
        var timerId;
        myModalEl.addEventListener('shown.bs.modal', event => {
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            const video = document.querySelector("#videoElement");

            video.width = 400;
            video.height = 300;
            if (navigator.mediaDevices.getUserMedia) {
                {# Start user camera #}
                navigator.mediaDevices.getUserMedia({
                    video: true
                })
                    .then(function (stream) {
                        video.srcObject = stream;
                        video.play();
                        window.localStream = stream;
                    })
                    .catch(function (err0r) {
                    });
            }
            var count = 0;
            timerId = setInterval(send_image, 5000);

            function send_image() {
                width = video.width;
                height = video.height;
                context.drawImage(video, 0, 0, width, height);
                var image_data = canvas.toDataURL('image/jpeg', 0.5);
                context.clearRect(0, 0, width, height);
                $.ajax({
                    type: 'POST',
                    url: "{% url "facial_login" %}",
                    headers: {"X-CSRFToken": "{{ csrf_token }}"},
                    data: {
                        'image': image_data,
                    },
                    success: function (data) {
                        {# when success stop sending image #}
                        {# Stop Sending Data #}
                        clearInterval(timerId);

                        {# close user camera #}
                        localStream.getTracks().forEach(function (track) {
                            track.stop();
                        });
                        $("#videoElement").hide();
                        $("#confirm-div").attr({style: "visibility: show;height: 300px"});
                        if (data['result'] === 'Done') {
                            location.reload();
                        } else {
                            $("#result-div-login").text("Face is not Identified, Try Again later");
                            $("#result-div-login").prop("href", "{% url "login" %}");
                        }
                    },
                    error: function (response) {
                        console.log('Error')
                    },
                });
            }
        })
        myModalEl.addEventListener('hidden.bs.modal', event => {
            {# Stop Sending Data #}
            clearInterval(timerId);

            {# close user camera #}
            localStream.getTracks().forEach(function (track) {
                track.stop();
            });
        })
    </script>
{% endblock content %}
