{% extends 'layouts/base.html' %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css"
          crossorigin="anonymous" referrerpolicy="no-referrer">
    {% if request.COOKIES.design_mode == "Lavender_Love" %}
        <style>
            .main-container {
                background-size: 110% !important;
            }
        </style>
    {% endif %}
{% endblock head %}
{% block content %}
    {% load static %}
    <div class="modal fade" tabindex="-1" id="facial-login" style="color: black">
        <div class="modal-dialog modal-dialog-centered modal-xl" style="">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-capitalize">
                        ⚠️ we will take a photo automatically just don't move
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <section id="Face_Detector_Webcam" class="col-auto position-relative p-0">
                            <video class="selfie-mode" autoplay playsinline id="webcam" width="600px"></video>
                            <canvas id="output_canvas" class="position-absolute top-0 start-0 selfie-mode"></canvas>
                            <canvas id="canvas" hidden></canvas>
                        </section>
                    </div>
                </div>
                <div class="modal-footer position-relative justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <div class="form-check form-switch position-absolute top-50 end-0 translate-middle-y">
                        <input class="form-check-input" type="checkbox" name="selfie-mode" id="selfie-mode" checked>
                        <label class="form-check-label" for="selfie-mode">Selfie Mode</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="form-control mt-4 main-container" style="height: 540px;" id="signup">
                    <h1 class="text-center mb-6 pt-6 title-style">
                        Please Login
                    </h1>
                    <br>
                    <div class="row justify-content-center">
                        <div class="col-9">
                            <div class="row justify-content-center mb-4" style="margin-top: -10px;">
                                <div class="col">
                                    <form action="{% url "login" %}" method="post" id="form">
                                        {% csrf_token %}
                                        <div class="form-floating mb-3">
                                            <input id="username_email" name="username_email" type="text"
                                                   autocomplete="username"
                                                   class="form-control" style="height: 45px"
                                                   placeholder="Email address or username" autofocus required>
                                            <label for="username_email" style="font-size: 16px;top:-7px; left:-7px;">
                                                Email address or username
                                            </label>
                                        </div>
                                        <div class="form-floating">
                                            <input id="password" name="password" type="password"
                                                   autocomplete="current-password"
                                                   class="form-control" style="height: 45px"
                                                   placeholder="Password" required>
                                            <label for="password" style="font-size: 16px;top:-7px; left:-7px;">
                                                Password
                                            </label>
                                        </div>
                                        <div class="text-end">
                                            <a href="#" class="text-center" style="color: #3379E1;">Forgot password?</a>
                                        </div>
                                        <div class="form-check checkbox-button">
                                            <input class="form-check-input" type="checkbox"
                                                   value=""
                                                   id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox">
                                                Remember me
                                            </label>
                                        </div>
                                        <div class="row justify-content-center">
                                            <button type="submit" id="button"
                                                    class="btn btn-lg col-auto btn-outline-primary main-btn">
                                                Login
                                            </button>
                                        </div>
                                    </form>
                                    <div class="row my-2">
                                        <div class="col d-inline-flex justify-content-end align-items-center">
                                            <hr class="opacity-50" style="width: 150px">
                                        </div>
                                        <div class="col-3 text-center mx-2">

                                            <label class="" style="font-size: 18px"
                                                   for="exampleCheckbox">
                                                <b>Or login with</b>
                                            </label>
                                        </div>
                                        <div class="col d-inline-flex justify-content-start align-items-center">
                                            <hr class="opacity-50" style="width: 150px">
                                        </div>
                                    </div>


                                    <div class="d-flex justify-content-center">
                                        <button id="facial-login-button"
                                                class="btn btn-light rounded-5 p-0 enable-facial-icon"
                                                style="width:60px; height: 40px">
                                            <i class="bi bi-camera" style="font-size:30px"></i>
                                        </button>
                                    </div>

                                    {% load socialaccount %}
                                    <div class="row mb-3 text-center justify-content-between">
                                        <div class="col-lg-4 zero-padding">
                                            <form action="{% provider_login_url "google" %}" method="post"
                                                  class="social_button_style">
                                                {% csrf_token %}
                                                <div class="input-group col-lg-12 mt-3 mb-2">
                                                    <div class="input-group-text">
                                                        <div class="fa-brands fa-google social-media-icon"
                                                             style="background-color: white;"></div>
                                                    </div>
                                                    <button class="btn btn-reddit btn-social-media col"
                                                            type="submit">
                                                        Google
                                                    </button>
                                                </div>
                                            </form>
                                            <form action="{% provider_login_url "twitter" %}" method="post"
                                                  class="social_button_style">
                                                {% csrf_token %}
                                                <div class="input-group col-lg-12 mt-3 mb-2">
                                                    <div class="input-group-text">
                                                        <div class="fa-brands fa-twitter social-media-icon"
                                                             style="color: #55ACEE"></div>
                                                    </div>
                                                    <button class="btn btn-twitter btn-social-media col"
                                                            type="submit">
                                                        Twitter
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-4 zero-padding">
                                            <form action="{% provider_login_url "facebook" method="oauth2" %}"
                                                  method="post" class="social_button_style">
                                                {% csrf_token %}
                                                <div class="input-group col-lg-12 mt-3 mb-2">
                                                    <div class="input-group-text">
                                                        <div class="fa-brands fa-facebook-f social-media-icon"
                                                             style="color: #3B5998"></div>
                                                    </div>
                                                    <button class="btn btn-facebook btn-social-media col"
                                                            type="submit">
                                                        Facebook
                                                    </button>
                                                </div>
                                            </form>
                                            <form action="{% provider_login_url "microsoft" %}" method="post"
                                                  class="social_button_style">
                                                {% csrf_token %}
                                                <div class="input-group col-lg-12 mt-3 mb-2">
                                                    <div class="input-group-text">
                                                        <div class="fa-brands social-media-icon">
                                                            <img style="height: 25px"
                                                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAeklEQVR4nO3UMQqAMBBE0QUL7+F5LOxyxlSewTvZj/10Q8AI/gfbBpb8pAoAPklt08j4eft5aGSKBRo3IBJK8IgNv1CKhAwJpUjIkFCKhGYnBPzd0m+NjJ+na9XIFAt0bkAklOARG36hFAkZEkqRkCGhFAnNTggA6g0PsZwml5fu+o4AAAAASUVORK5CYII=">
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-microsoft btn-social-media col"
                                                            onclick="microsoft_button()"
                                                            type="submit">
                                                        Microsoft
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-4 zero-padding">
                                            <form action="{% provider_login_url "github" %}" method="post"
                                                  class="social_button_style">
                                                {% csrf_token %}
                                                <div class="input-group col-lg-12 mt-3 mb-2">
                                                    <div class="input-group-text">
                                                        <div class="fa-brands fa-github social-media-icon"
                                                             style="color: #444444"></div>
                                                    </div>
                                                    <button class="btn btn-github btn-social-media col"
                                                            type="submit">
                                                        Github
                                                    </button>
                                                </div>
                                            </form>
                                            <form action="{% provider_login_url "linkedin_oauth2" %}" method="post"
                                                  class="social_button_style">
                                                {% csrf_token %}
                                                <div class="input-group col-lg-12 mt-3 mb-2">
                                                    <div class="input-group-text">
                                                        <div class="fa-brands fa-linkedin social-media-icon"
                                                             style="color: #007BB6"></div>
                                                    </div>
                                                    <button class="btn btn-linkedin btn-social-media col"
                                                            onclick="linkedin_button()"
                                                            type="submit">LinkedIn
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <label class="form-check-label" for="exampleCheckbox">
                                            Looking to
                                            <a href="{% url "signup" %}" class="text-center"
                                               style="color: #3379E1;">
                                                create an account
                                            </a>
                                            ?
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="{% static 'js/Face_Detector.js' %}"></script>
    <script>
        const video = document.getElementById("webcam");
        let canvas = document.getElementById('canvas');
        let context = canvas.getContext('2d');
        let running = false;
        window.on_face_detection = async function () {
            if (!running) {
                running = true;
                width = canvas.width = video.offsetWidth;
                height = canvas.height = video.offsetHeight;
                context.clearRect(0, 0, width, height);
                context.drawImage(video, 0, 0, width, height);
                let image = canvas.toDataURL('image/jpeg', 1);
                $.ajax({
                    type: 'POST',
                    url: "{% url "facial_login" %}",
                    headers: {"X-CSRFToken": "{{ csrf_token }}"},
                    data: {'image': image},
                    success: function (response) {
                        if (response["result"] === "Done") {
                            location.reload();
                        }
                    },
                    error: function () {
                        console.log("error");
                    },
                    complete: function () {
                        running = false;
                    }
                })
            }
        }

        function microsoft_button() {
            event.preventDefault();
            if ("{{ SOCIAL_MICROSOFT_PREMIUM }}" === "True") {
                show_alert("warning", "Please upgrade to premium to continue using the service.");
            } else {
                event.target.form.submit();
            }
        }

        function linkedin_button() {
            event.preventDefault();
            if ("{{ SOCIAL_LINKEDIN_PREMIUM }}" === "True") {
                show_alert("warning", "Please upgrade to premium to continue using the service.");
            } else {
                event.target.form.submit();
            }
        }
    </script>
{% endblock content %}
