{% extends 'layouts/base.html' %}
{% block head %}
    {% if request.COOKIES.design_mode == "Lavender_Love" %}
        <style>
            .main-container {
                background-size: 110% !important;
            }
        </style>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="form-control mt-4 main-container" style="height: 540px;" id="signup">
                    <h1 class="text-center mb-6 pt-6 title-style">
                        Please Signup
                    </h1>
                    <br>
                    <div class="row justify-content-center">
                        <div class="col-9">
                            <div class="row justify-content-center mb-4" style="margin-top: -10px;">
                                <div class="col-lg-20">
                                    <form action="{% url "signup" %}" method="post" id="form"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <input id="first_name" name="first_name" type="text"
                                                           autocomplete="given-name"
                                                           class="form-control" style="height: 45px"
                                                           placeholder="First Name" autofocus required>
                                                    <label for="first_name"
                                                           style="font-size: 16px;top:-7px; left:-7px;">
                                                        First Name
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating">
                                                    <input id="last_name" name="last_name" type="text"
                                                           autocomplete="family-name"
                                                           class="form-control" style="height: 45px"
                                                           placeholder="Last Name" required>
                                                    <label for="last_name" style="font-size: 16px;top:-7px; left:-7px;">
                                                        Last Name
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <input id="username" name="username" type="text"
                                                           autocomplete="username"
                                                           class="form-control" style="height: 45px"
                                                           placeholder="Username" required>
                                                    <label for="username" style="font-size: 16px;top:-7px; left:-7px;">
                                                        Username
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <input id="email" name="email" type="email"
                                                           autocomplete="email"
                                                           class="form-control" style="height: 45px"
                                                           placeholder="Email address" required>
                                                    <label for="email" style="font-size: 16px;top:-7px; left:-7px;">
                                                        Email Address
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <input id="password" name="password" type="password"
                                                           autocomplete="new-password"
                                                           class="form-control" style="height: 45px"
                                                           placeholder="Password" required>
                                                    <label for="password" style="font-size: 16px;top:-7px; left:-7px;">
                                                        Password
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <input id="confirm_password" name="confirm_password" type="password"
                                                           autocomplete="new-password"
                                                           class="form-control" style="height: 45px"
                                                           placeholder="Confirm Password" required>
                                                    <label for="confirm_password"
                                                           style="font-size: 16px;top:-7px; left:-7px;">
                                                        Confirm Password
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <div class="form-floating">
                                                    <input id="phone_number" name="phone_number" type="text"
                                                           autocomplete="tel"
                                                           class="form-control" style="height: 45px"
                                                           placeholder="Phone Number" required>
                                                    <label for="phone_number"
                                                           style="font-size: 16px;top:-7px; left:-7px;">
                                                        Phone Number
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col d-flex align-items-center">
                                                <div class="align-self-center">
                                                    <label>Gender: </label>
                                                    <div class="form-check form-check-inline setting-radio-button">
                                                        <input id="Male" name="gender" type="radio"
                                                               value="M"
                                                               class="form-check-input">
                                                        <label class="form-check-label" for="Male">
                                                            Male
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline setting-radio-button">
                                                        <input id="Female" name="gender" type="radio"
                                                               value="F"
                                                               class="form-check-input">
                                                        <label class="form-check-label" for="Female">
                                                            Female
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <div class="input-group">
                                                        <label class="me-3 d-flex justify-content-center align-items-center">
                                                            Country
                                                        </label>
                                                        <select id="country" name="country" form="form"
                                                                class="form-select form-select-md personal-information">
                                                            <option value="Egypt" selected>Egypt</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <div class="input-group">
                                                        <label class="me-3 d-flex justify-content-center align-items-center">
                                                            City
                                                        </label>
                                                        <select id="city" name="city" form="form"
                                                                class="form-select form-select-md personal-information"
                                                                aria-label=".form-select-lg example">
                                                            <option value="Cairo" selected>Cairo</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <div class="input-group">
                                                    <label class="me-3 d-flex justify-content-center align-items-center">
                                                        Birthdate:
                                                    </label>
                                                    <input id="birthdate" name="birthdate" type="date"
                                                           autocomplete="bday"
                                                           class="vDateField" size="10"
                                                           placeholder="Birthdate" required>
                                                    <div class="input-group-text personal-information">
                                                        <label class="fas fa-calendar"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <input name="picture" type="file" accept="image/*">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-check checkbox-button">
                                                    <input id="exampleCheckbox" type="checkbox"
                                                           value=""
                                                           class="form-check-input">
                                                    <label class="form-check-label" for="exampleCheckbox">
                                                        I agree to the
                                                        <a href="#" class="text-center" style="color: #3379E1;"
                                                           data-bs-toggle="modal" data-bs-target="#terms">
                                                            terms and conditions
                                                        </a>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="text-end">
                                                    <a href="{% url "login" %}" class="text-center"
                                                       style="color: #3379E1;">
                                                        I already have an account
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid p-4">
                                            <div class="row justify-content-center">
                                                <div class="col auto">
                                                    <div class="text-center">
                                                        <button id="button" type="submit"
                                                                class="btn btn-lg btn-outline-primary rounded-4 main-btn">
                                                            Sign Up
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="terms" tabindex="-1">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 title-style"
                            style="font-size: 20px" id="terms">
                            <i class="bi bi-clipboard-check-fill" style="color: white"
                            ></i> Terms and Conditions</h1>
                        <button type="button" data-bs-dismiss="modal" style="background-color: transparent;border: 0">
                            <i class="bi bi-x-lg button-close-modal-icon"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="Times-New-Roman-font" style="text-align:justify; font-size: 16px">
                            <b>Welcome to Memorizers !</b>
                            <br>
                            These terms and conditions outline the rules and regulations for the use of Company
                            Memorizers' Website, located at <a
                                href="{% url "home" %}" class="text-center" style="color: #3379E1;">Memorizers.com</a>.
                            By accessing this website we assume
                            you accept these terms and conditions. Do not continue to use Website Memorizers if you do
                            not agree to take all the terms and conditions stated on this page.
                            <br>
                            <b>Cookies</b>
                            <br>
                            We employ the use of cookies. By accessing Website Memorizers, you agreed to use cookies in
                            agreement with the Company Memorizers Privacy Policy. Most interactive
                            websites use cookies to let us retrieve the user's details for each visit. Cookies are used
                            by our website to enable the functionality of certain areas to make it easier for
                            people visiting our website. Some of our affiliate/advertising partners may also use
                            cookies.
                            <br>
                            <b>License</b>
                            <br>
                            Unless otherwise stated, Company Memorizers and/or its licensors own the intellectual
                            property rights for all material on Memorizers. All intellectual property rights are
                            reserved. You may access this from Memorizers for your own personal use subjected to
                            restrictions set in these terms and conditions.
                            <br>
                            <b>You must NOT</b>
                            <br>
                            - Republish material from Memorizers
                            <br>
                            - Sell, rent or sublicense material from Memorizers
                            <br>
                            - Reproduce, duplicate or copy material from Memorizers
                            <br>
                            - Redistribute content from Memorizers
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
