:root {
    --blue: #000080;
    --blue-rgb: 0, 0, 128;
    --bluelight: #ceceff;
    --red: #E61A1A;
}

.bg-body {
    background-color: #cfcfff !important;
}


.main-btn {
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    --bs-btn-disabled-color: white;
}

.main-btn:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff0000,
            #fffb00,
            white,
            white,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-main 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-main {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.main-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--blue);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.main-btn:hover {
    background: rgba(255, 206, 63, 0.51);
    color: var(--blue);
}

.main-btn:hover:before {
    opacity: 1;
    animation-play-state: paused;
    background-size: 2000%;
}

.main-btn:hover:after {
    background: rgba(255, 206, 63, 0.51);

}

.secondary-btn {
    border: none;
    outline: none;
    color: var(--blue);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.secondary-btn:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff0000,
            #fffb00,
            #000080,
            #000080,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-main 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.secondary-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.secondary-btn:hover {
    background: rgba(255, 206, 63, 0.51);
    color: white;
}

.secondary-btn:hover:before {
    opacity: 1;
    animation-play-state: paused;
    background-size: 2000%;
}

.secondary-btn:hover:after {
    background: rgba(255, 206, 63, 0.51);
}

.success-btn {
    --bs-btn-color: #219900;
    border-color: #219900;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #71D456
}

.btn-social-media {
    font-size: 18px;
}

.social-media-icon {
    width: 25px;
    font-size: 25px;
}

/* Home Page Style */
.cards-style {
    background-color: var(--blue);
    transition: all 0.3s ease-in-out;
    --bs-border-color: white;
    height: 200px;
}

.about-card-style {
    color: black;
    background-color: rgba(255, 255, 255, 0.34);
    border-color: var(--blue);
}

.contacts-icon-style {
    color: var(--blue);
    background-color: var(--bluelight);
    padding: 10px;
    font-size: 40px;
}

.contacts-title-style {
    color: var(--blue);
    font-size: 20px;
    margin-top: 10px;
}

/* End Home Page Style */

.title-style {
    -webkit-text-stroke: 1px var(--blue);
    color: black;
}

.button-close-modal-icon {
    color: black;
}

.bg-body-tertiary {
    --bs-tertiary-bg-rgb: var(--blue-rgb);
}

.navbar-brand {
    --bs-navbar-brand-color: white;
    --bs-navbar-brand-hover-color: white;
}

.nav, .navbar-nav, .navbar-nav .nav-link.active {
    --bs-navbar-hover-color: white;
    --bs-nav-link-hover-color: white;
    color: white;
}

.nav-link {
    color: rgb(255 255 255 / 65%);
}

footer {
    color: white
}

.form-control {
    border-color: var(--blue);
}

.form-control:focus {
    border-color: var(--blue);
}

.contacts-icon-style {
    color: var(--blue);
    background-color: #cfcfff;
}

.contacts-title-style {
    color: var(--blue);
    font-weight: bold;
}

input::file-selector-button {
    background-color: var(--bluelight);
    color: var(--blue);
    border-color: var(--blue);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: var(--blue);
}

.settings-list {
    color: white;
    border-color: var(--blue);
    background-color: var(--blue);
    font-size: x-large;
    text-align: left;
    --bs-btn-hover-color: var(--blue);
    --bs-btn-hover-bg: var(--bluelight);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--blue);
    --bs-btn-active-bg: var(--very-dark-red);
    --bs-btn-active-border-color: var(--blue);
}

.settings-list-title {
    color: var(--blue);
}

.Account-Management-btn {
    --bs-btn-color: black;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #89b4fc;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: var(--bluelight);
    --bs-btn-active-border-color: white;
}

.Design-radio {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-size: 20px;
}

.presentations-grid {
    border: 1px solid var(--blue);
}

.setting-radio-button > input[type="radio"] {
    border-color: var(--blue);
}

#page_number {
    color: black;
}

.setting-nav {
    background-color: transparent;
    height: 474px;
    border: transparent;
}

.personal-information {
    border-color: var(--blue);
    background-color: transparent;
}

.primary-color {
    color: var(--blue);
}

.secondary-color {
    color: var(--bluelight);
}

.get-inspired-title {
    color: var(--blue);
}

.get-inspired-more-btn {
    color: white;
}

.get-inspired-more-btn:hover {
    text-shadow: white 0px 0px 5px;
    color: white;
    --bs-btn-disabled-color: white;
    --bs-btn-active-color: white;
}

.checkbox-button > input[type="checkbox"] {
    border-color: var(--blue);
}

.main-container {
    border-width: thick;
    border-radius: 0px;
    background-color: var(--bluelight);
}

.fa-calendar {
    color: var(--blue);
}

.vDateField {
    border-color: var(--blue);
}

.secondary-button {
    --bs-btn-hover-bg: gold;
    --bs-btn-active-bg: gold;
}

.btn-danger {
    --bs-btn-bg: var(--red)!important;
    --bs-btn-hover-bg: var(--red);
    --bs-btn-active-bg: var(--red);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: none;
}

.carousel-indicators [data-bs-target] {
    background-color: white !important;
}

.contact-img-shadow {
    box-shadow: -30px 30px #ffffff5c;
}

#mic-btn {
    --bs-btn-border-radius: 0rem 0px;
    --bs-btn-border-color: var(--blue);
    --bs-btn-bg: var(--bluelight);
}

#copy-to-clipboard{
     --bs-btn-border-radius: 0rem 0px;
    --bs-btn-border-color: var(--blue);
    --bs-btn-bg: var(--bluelight);
}

/* Dark */
[data-bs-theme="dark"] {
    --bs-tertiary-bg-rgb: var(--blue-rgb) !important;

    .bg-body {
        background-color: #00004DFF !important;
    }

    .form-control {
        background-color: #00004DFF;
        border-color: var(--bluelight);
    }

    .title-style {
        color: white;
    }

    .main-btn, .secondary-btn, .btn-outline-primary {
        --bs-btn-color: white !important;
    }

    .Account-Management-btn {
        --bs-btn-color: white;
        --bs-btn-hover-color: white;
        --bs-btn-active-color: white;
        --bs-btn-active-bg: transparent;
        --bs-btn-active-border-color: white;
    }

    #page_number {
        color: white;
    }

    .settings-list-title {
        color: white;
    }

    .settings-list {
        --bs-btn-hover-bg: #00004d;
        --bs-btn-hover-color: white;
        --bs-btn-active-color: white;
        --bs-btn-active-border-color: white;
    }

    .get-inspired-title {
        color: white;
    }

    .main-container {
        background-color: #00005a;
        border-color: white;
        border-width: thin;
    }

    .secondary-button {
        color: white;
    }

    .secondary-button:hover {
        color: black;
    }

    .title-style {
        -webkit-text-stroke: 1px #569cff;
    }

    .checkbox-button > input[type="checkbox"] {
        border-color: var(--blue);
        background-color: var(--bluelight);
    }

    .setting-radio-button > input[type="radio"] {
        border-color: var(--blue);
        background-color: var(--bluelight);
    }

    .setting-radio-button > input[type="radio"] {
        border-color: var(--blue);
        background-color: var(--bluelight);
    }

    .form-control:focus {
        border-color: white;
        box-shadow: 0 0 0 0.1rem white;
    }

    .personal-information {
        border-color: var(--bluelight);
        background-color: transparent;
    }

    .fa-calendar {
        color: var(--bluelight);
    }

    .success-btn {
        --bs-btn-color: #71D456;
        border-color: #71D456;
    }

    .account-management-icon-bg {
        background-color: #89b4fc;
        border-radius: 3px;
    }

    .button-close-modal-icon {
        color: white;
    }

    .contacts-icon-style {
        background-color: #89b4fc;
    }

    .contact-img-shadow {
        box-shadow: -30px 30px #89b4fc45
    }

    #mic-btn{
        --bs-btn-border-radius: 0rem 0px;
        --bs-btn-border-color: white;
        --bs-btn-bg: #00004d;
    }

    #copy-to-clipboard{
      --bs-btn-border-radius: 0rem 0px;
        --bs-btn-border-color: white;
        --bs-btn-bg: #00004d;
    }
}
