:root {
    --red: #E61A1A;
    --red-rgb: 230, 26, 26;
    --light-red: #fde8e8;
    --dark-red: rgb(230 26 26 / 25%);
    --pink: rgba(250, 180, 180, 30%);
    --green: #71D456;
    --light-white: rgba(255, 255, 255, 0.8);
    --very-light-white: rgba(255, 255, 255, 0.34);
    --very-dark-red: #ff8a8a4d;
}

.main-btn {
    --bs-btn-color: black;
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: red;
    --bs-btn-disabled-border-color: var(--red);
    --bs-btn-disabled-opacity: 1;
    --bs-btn-active-bg: var(--red);
    --bs-btn-active-border-color: var(--red);
    border-color: var(--red);
    transition: all 0.3s ease-in-out;
    border-radius: var(--bs-border-radius-xl) !important;
}

.main-btn:hover {
    box-shadow: 0 0 10px 2px var(--red);
    transform: translateY(-5px);
    background-color: var(--red);
    border-color: var(--red);
    color: white;
}

.secondary-btn {
    --bs-btn-color: black;
    transition: all 0.3s ease-in-out;
    border-radius: var(--bs-border-radius-xl) !important;
}

.secondary-btn:hover {
    box-shadow: 0 0 10px 2px var(--bs-primary);
    transform: translateY(-5px);
}

.success-btn {
    --bs-btn-color: var(--green);
    border-color: var(--green);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--green);
}

.btn-social-media {
    font-size: 18px;
}

.social-media-icon {
    width: 25px;
    font-size: 25px;
}

/* Home Page Style */
.cards-style {
    background-color: var(--red);
    transition: all 0.3s ease-in-out;
    --bs-border-color: var(--light-red);
    height: 200px;
}

.cards-style:hover {
    box-shadow: 0 0 40px 10px var(--light-white);
    transform: translateY(-5px);
}

.about-card-style {
    color: black;
    background-color: var(--very-light-white);
    padding: 20px 80px;
    border: 2px solid red;
}

.contacts-icon-style {
    color: red;
    background-color: var(--pink);
    font-size: 40px;
    padding: 10px;
}

.contacts-title-style {
    color: red;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

/* End Home Page Style */

.title-style {
    -webkit-text-stroke: 1px var(--red);
    color: black;
}

.button-close-modal-icon {
    color: var(--red);
}

.bg-body-tertiary {
    --bs-tertiary-bg-rgb: var(--red-rgb);
}

.navbar-brand {
    --bs-navbar-brand-color: white;
    --bs-navbar-brand-hover-color: white;
}

.nav, .navbar-nav, .navbar-nav .nav-link.active {
    --bs-navbar-hover-color: white;
    --bs-nav-link-hover-color: white;
    color: white;
}

.nav-link {
    color: rgb(255 255 255 / 65%);
}

footer {
    color: white
}

.form-control {
    border-color: var(--red);
}

.form-control:focus {
    border-color: var(--red);
    box-shadow: 0 0 0 0.25rem var(--dark-red);
}

input::file-selector-button {
    background-color: white;
    color: var(--red);
    border-color: var(--red);
}

input[type="file"] {
    background-color: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: var(--red);
}

.settings-list {
    color: white;
    border-color: transparent;
    background-color: transparent;
    font-size: x-large;
    text-align: left;
    --bs-btn-hover-bg: var(--pink);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-bg: var(--very-dark-red);
    --bs-btn-active-border-color: white;
}

.settings-list-title {
    color: white;
}

.Account-Management-btn {
    --bs-btn-color: black;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: var(--very-dark-red);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: var(--very-dark-red);
    --bs-btn-active-border-color: var(--red);
}

.Design-radio {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-size: 20px;
}

.presentations-grid {
    border: 1px solid var(--red);
}

.setting-radio-button > input[type="radio"] {
    border-color: var(--red);
}

#page_number {
    color: black;
}

.setting-nav {
    box-shadow: 0 0 10px red;
    background-color: var(--red);
    height: 474px;
}

.personal-information {
    border-color: var(--red);
}

.primary-color {
    color: var(--red);
}

.secondary-color {
    color: var(--light-red);
}

.enable-facial-icon {
    color: var(--red);
    background-color: var(--light-red);
}

.get-inspired-title {
    color: black;
}

.get-inspired-more-btn {
    color: white;
}

.get-inspired-more-btn:hover {
    text-shadow: white 0px 0px 5px;
    color: white;
    --bs-btn-active-color: white;
    --bs-btn-disabled-color: white;
}

input[type="checkbox"] {
    border-color: var(--red);
}

.main-container {
    box-shadow: 0 0 10px 2px var(--red);
}

.fa-calendar {
    color: var(--red);
}

.vDateField {
    border-color: var(--red);
}

.secondary-button {
    --bs-btn-hover-bg: gold;
    --bs-btn-active-bg: gold;
    --bs-btn-hover-border-color: gold;
}

.btn-danger {
    --bs-btn-bg: var(--red)!important;
    --bs-btn-hover-bg: var(--red);
    --bs-btn-active-bg: var(--red);
}

.control {
    color: var(--red);
}

.my-presentations-grid {
    border: 1px solid var(--red);
}

#mic-btn {
    --bs-btn-border-radius: 0rem 0px;
    --bs-btn-border-color: var(--red);
    --bs-btn-bg: white;
}

#copy-to-clipboard{
    --bs-btn-border-radius: 0rem 0px;
    --bs-btn-border-color: var(--red);
    --bs-btn-bg: white;
}

/* Dark */
[data-bs-theme="dark"] {
    --bs-tertiary-bg-rgb: var(--red-rgb) !important;

    .bg-body {
        background-color: black !important;
    }

    .form-control {
        background-color: #1b1b1b !important;
    }

    .title-style {
        color: white;
    }

    .main-btn, .secondary-btn , .btn-outline-primary {
        --bs-btn-color: white;
    }

    .Account-Management-btn {
        --bs-btn-color: white;
        --bs-btn-hover-color: white;
        --bs-btn-active-color: white;
        --bs-btn-active-border-color: white;
    }

    #page_number {
        color: white;
    }

    .get-inspired-title {
        color: white;
    }

    .secondary-button {
        color: white;
    }

    .secondary-button:hover {
        color: black;
    }

    #mic-btn{
        --bs-btn-border-radius: 0rem 0px;
        --bs-btn-border-color: var(--red);
        --bs-btn-bg: black;
    }

    #copy-to-clipboard {
        --bs-btn-border-radius: 0rem 0px;
        --bs-btn-border-color: var(--red);
        --bs-btn-bg: black;
    }
}
