/* fonts */
.Times-New-Roman-font {
    font-family: "Times New Roman", Times, serif;
}

.Algerian-font {
    font-family: Algerian, Times, serif;
}
/* end fonts */

textarea {
    resize: none;
}

.active > .bi {
    display: block !important; /* for add ✔ to theme dropdown-menu nav */
}
