/* fonts */
.Times-New-Roman-font {
    font-family: "Times New Roman", Times, serif;
}

.Algerian-font {
    font-family: Algerian, Times, serif;
}

/* end fonts */

textarea {
    resize: none;
}

.dropdown-item.active > .bi {
    display: block !important; /* for add ✔ to theme dropdown-menu nav */
}

.character-img-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.character-img {
    height: 150px;
}

.fa-google {
    background: conic-gradient(from -55deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.btn-social {
    margin-top: 1rem !important;
    text-align: center;
    font-size: 18px;
}

.button-close-modal {
    background-color: transparent;
    border: 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1) grayscale(100);
}

#page_number {
    margin-top: 12px;
}

/* to fix placeholder in contenteditable div */
[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
}

.intermediate_result{
    color: gray;
}

.secondary-button {
    color: black;
    --bs-btn-hover-color: white;
    --bs-btn-active-color: white;
}

.bi-mic {
    font-size: 20px;
}

.presentations-grid {
    margin: 0 12px;
    height: 150px;
}

.presentation-thumbnail {
    object-fit: contain;
}

.presentation-link, .presentation-link > * {
    display: none;
}

.presentation-thumbnail:hover + .presentation-link, .presentation-link:hover{
    display: block;
    background-image: linear-gradient(to right, transparent , black);
}

.presentation-thumbnail:hover + .presentation-link > *, .presentation-link:hover > *{
    display: block;
    font-size: 60px;
    color: white;
}

.control {
    background-color: transparent;
    border: 0;
    font-size: 30px;
}

.my-presentations-grid {
    height: 150px;
    margin-right: 10px;
}

.bi-unlock-fill.presentation-privacy-icon {
    color: red;
}

.bi-lock-fill.presentation-privacy-icon {
    color: green;
}

.selfie-mode {
    transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
}

.input-group-text:has(.social-media-icon) {
    padding: 0.1rem 0.5rem;
    background-color: white;
}

.enable-facial-icon {
    border-color: transparent!important;
}

[data-bs-theme="dark"] {
    .carousel-control-prev-icon, .carousel-control-next-icon {
        filter: none !important;
    }
}
