/* fonts */
.Times-New-Roman-font {
    font-family: "Times New Roman", Times, serif;
}

.Algerian-font {
    font-family: Algerian, Times, serif;
}
/* end fonts */

textarea {
    resize: none;
}

.active > .bi {
    display: block !important; /* for add ✔ to theme dropdown-menu nav */
}

.character-img-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.character-img{
    height: 150px;
}
