{% extends "layouts/base.html" %}
{% load static %}
{% block head %}
    {% if request.COOKIES.design_mode == "Lavender_Love" %}
        <style>
            body {
                background-image: url('{% static "images/lavender_love/top_left_light.png" %}'), url('{% static "images/lavender_love/bottom_right_light.png" %}');
                background-size: auto, contain;
                background-repeat: no-repeat, no-repeat;
                background-position: top left, right bottom;
            }

            [data-bs-theme="dark"] body {
                background-image: url('{% static "images/lavender_love/top_left_dark.png" %}'), url('{% static "images/lavender_love/bottom_right_dark.png" %}');
            }
        </style>
    {% endif %}
{% endblock head %}
{% block content %}
    <h1 class="text-center my-4 title-style">Character Transformation</h1>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-5">
                <label class="form-label h4 d-flex justify-content-center">
                    Upload Your Video
                </label>
                <div class="position-relative">
                    <div class="form-control" style="height: 325px">
                        <video id="uploaded-video" class="w-100 h-100" controls style="display: none;">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <input type="file" id="upload-video-input-element" accept="video/*"
                               onchange="show_uploaded_video()" hidden/>
                        <label id="upload-btn" class="btn btn-outline-secondary border-0 secondary-button"
                               for="upload-video-input-element"
                               data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Upload">
                            <i class="bi bi-upload"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <label class="form-label h4 d-flex justify-content-center">
                    Transformed Video
                </label>
                <div class="position-relative">
                    <div class="form-control" style="height: 325px">
                        <video id="generated-video" class="w-100 h-100" controls style="display: none; height: 300px">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                    <div class="position-absolute top-0 end-0 p-2">
                        <a id="download" class="btn btn-outline-secondary border-0 secondary-button" href=""
                           download="output"
                           data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Download"
                           style="display: none">
                            <i class="bi bi-download"></i>
                        </a>
                    </div>
                    <div class="position-absolute bottom-0 end-0 p-2">
                        <button id="full-screen" class="btn btn-outline-secondary border-0 secondary-button"
                                style="display: none"
                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Full Screen">
                            <i class="bi bi-arrows-fullscreen"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-4">
        <div class="row justify-content-center">
            <div class="col-auto">
                <button type="button" id="character-button" class="btn btn-lg btn-outline-primary secondary-btn"
                        data-bs-toggle="modal" data-bs-target="#CharacterModal">
                    Choose Character
                </button>
            </div>
            <div class="col-auto">
                <button type="button" id="button" class="btn btn-lg btn-outline-primary main-btn"
                        style="width: 140px;">Transform
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CharacterModal" tabindex="-1">
        {% comment %}Vertically centered scrollable modal{% endcomment %}
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 title-style">Choose A Character</h1>
                    <button type="button" class="button-close-modal" data-bs-dismiss="modal">
                        <i class="bi bi-x-lg button-close-modal-icon"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {% for character in characters %}
                            <div class="col-4 mb-2">
                                <input type="radio" class="btn-check" name="Character" autocomplete="off"
                                       id="character_{{ forloop.counter }}" value="{{ character.id }}">
                                <label class="btn btn-outline-primary character-img-container"
                                       for="character_{{ forloop.counter }}">
                                    <div class="text-center text-capitalize">{{ character.name }}</div>
                                    <img src="{{ character.image.url }}" class="img-fluid character-img" alt="{{ character.name }}">
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" id="character-selected-button" class="btn btn-outline-success success-btn"
                            data-bs-dismiss="modal">Ok
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script>
        const $button = $("#button");
        const $video = $("#uploaded-video");
        const $generated_video = $("#generated-video");
        const $upload_btn = $("#upload-btn");
        let $character;
        const $full_screen = $("#full-screen");
        const $download = $("#download");

        {# Enable Tooltip #}
        $('[data-bs-toggle="tooltip"]').each(function () {
            new bootstrap.Tooltip(this, {
                trigger: 'hover'
            });
        });
        {# Initiatalize all tooltips #}
        const download_tooltip = bootstrap.Tooltip.getInstance($download);

        {# Enable Full Screen when button pressed #}
        $full_screen.click(function () {
            $generated_video[0].requestFullscreen();
        });

        {# download the image when the icon is clicked #}
        $download.click(function (e) {
            let video_src = $generated_video.attr('src');
            $(this).attr('href', video_src);
            download_tooltip.setContent({'.tooltip-inner': 'Downloading!'})
        });

        $download.on('hidden.bs.tooltip', () => {
            download_tooltip.setContent({'.tooltip-inner': 'Download'});
        })

        function loading(isLoading) {
            if (isLoading) {
                // display loading indicator
                $button[0].innerHTML = 'Loading... <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
                $button.prop('disabled', true);
            } else {
                // hide loading indicator
                $button.text('Transform');
                $button.prop('disabled', false);
            }
        }

        function show_uploaded_video() {
            const reader = new FileReader();
            // get video file from an input element
            const file = $("#upload-video-input-element")[0].files[0];
            reader.onload = function () {
                // read video file as base64 string and set it as a source of a video element
                let base64String = reader.result;
                $video.attr('src', base64String);
                $video.show();
                $upload_btn.hide();
            };
            if (file) {
                // read video file as base64 string
                reader.readAsDataURL(file);
            }
        }

        function get_status(task_id) {
            $.ajax({
                type: "POST",
                url: '{% url "get_status_video" %}',
                contentType: 'application/json; charset=utf-8',
                headers: {"X-CSRFToken": "{{ csrf_token }}"}, // this is the csrf token for logged-in users
                data: JSON.stringify({
                    'task_id': task_id,
                }),
                success: function (result) {
                    if (result['status'] === 'COMPLETED') {
                        get_video(task_id);
                    } else {
                        setTimeout(function () {
                            get_status(task_id);
                        }, 30000);
                    }
                },
            });
        }


        function get_video(task_id) {
            $.ajax({
                type: "POST",
                url: '{% url "get_video" %}',
                contentType: 'application/json; charset=utf-8',
                headers: {"X-CSRFToken": "{{ csrf_token }}"}, // this is the csrf token for logged-in users
                data: JSON.stringify({
                    'task_id': task_id,
                }),
                success: function (result) {
                    // show success alert if request is successful
                    show_alert("success", "Video transformed successfully!");

                    // set generated video as source of video element
                    $generated_video.attr('src', result["output_video"]);
                    $generated_video.show();
                    // hide loading indicator
                    loading(false);
                    // show full screen and download button
                    $full_screen.show();
                    $download.show();
                },
            });
        }

        $button.click(function () {
            let base64String = $video.attr('src');
            if (base64String && $character) {
                loading(true);
                // send video file as string base 64 and character as string in json data to server using ajax
                $.ajax({
                    type: "POST",
                    url: '{% url "transform_character" %}',
                    contentType: 'application/json; charset=utf-8',
                    // send csrf token in request header. csrf token is required for ajax post request
                    headers: {"X-CSRFToken": "{{ csrf_token }}"},
                    data: JSON.stringify({
                        video: base64String,
                        character: $character,
                    }),
                    success: function (result) {
                        if (result['premium'] === true) {
                            show_alert("warning", "Please upgrade to premium to continue using the service.");
                            loading(false);
                        }
                        else {
                            // show success alert if request is successful
                            show_alert("success", "Video uploaded successfully!");
                            // get task id from response
                            let task_id = result["task_id"];
                            // get status of the task
                            get_status(task_id);
                        }
                    },
                    error: function () {
                        // show error alert if error occurs
                        show_alert("error", "Error");
                        // hide loading indicator
                        loading(false);
                    },
                });
            }
            if (!base64String && !$character) {
                // show warning alert if no video is uploaded
                show_alert("warning", "Please upload a video and select a character!");
            } else {
                if (!base64String) {
                    // show warning alert if no video is uploaded
                    show_alert("warning", "Please upload a video!");
                }
                if (!$character) {
                    // show warning alert if no character is selected
                    show_alert("warning", "Please select a character!");
                }
            }
        });
        // get selected character from radio button on change
        $("input[name='Character']").change(function () {
            $character = $("input[name='Character']:checked").val();
        });
    </script>
{% endblock content %}
