{% extends 'layouts/base.html' %}
{% load static %}
{% block head %}
    {% if request.COOKIES.design_mode == "Lavender_Love" %}
        <style>
            body {
                background-image: url('{% static "images/lavender_love/top_left_light.png" %}'), url('{% static "images/lavender_love/bottom_right_light.png" %}');
                background-size: auto, contain;
                background-repeat: no-repeat, no-repeat;
                background-position: top left, right bottom;
            }

            [data-bs-theme="dark"] body {
                background-image: url('{% static "images/lavender_love/top_left_dark.png" %}'), url('{% static "images/lavender_love/bottom_right_dark.png" %}');
            }
        </style>
    {% endif %}
{% endblock head %}
{% block content %}
    <h1 class="text-center my-4 title-style">Image Generation</h1>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-5">
                <label for="text-prompt" class="form-label h4 d-flex justify-content-center">The Input Text</label>
                <div class="position-relative">
                    <div id="text-prompt" name="text-prompt" class="form-control"
                         placeholder="Enter your text:" contenteditable autofocus
                         style="height: 325px; overflow: auto;"></div>
                    <div class="position-absolute top-100 start-0 translate-middle"
                         style="padding-right: 45px; padding-bottom: 70px">
                        <button type="button" id="mic-btn"
                                class="btn btn-outline-secondary secondary-button rounded-start border-end-0"
                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Voice typing">
                            <i class="bi bi-mic"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <label class="form-label h4 d-flex justify-content-center">
                    The Generated Image
                </label>
                <div class="position-relative">
                    <div class="form-control d-flex justify-content-center" style="height: 325px">
                        <img id="generated-image" class="h-100" src="" alt="" style="display: none;">
                    </div>
                    <div class="position-absolute top-0 end-0 p-2">
                        <a id="download" class="btn btn-outline-secondary border-0 secondary-button" href=""
                           download="output"
                           data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Download"
                           style="display: none">
                            <i class="bi bi-download"></i>
                        </a>
                    </div>
                    <div class="position-absolute bottom-0 end-0 p-2">
                        <button id="full-screen" class="btn btn-outline-secondary border-0 secondary-button"
                                style="display: none"
                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Full Screen">
                            <i class="bi bi-arrows-fullscreen"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-4">
            <div class="row justify-content-center">
                <div class="col-2">
                    <div class="text-center">
                        <button type="button" id="button" class="btn btn-lg btn-outline-primary main-btn"
                                style="width: 140px;">
                            Generate
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let $button = $("#button");
        let $generated_image = $("#generated-image");
        const $download = $("#download");
        const $full_screen = $("#full-screen");

        {# Enable All Tooltips #}
        $('[data-bs-toggle="tooltip"]').each(function () {
            new bootstrap.Tooltip(this, {
                trigger: 'hover'
            });
        });
        {# Initiatalize all tooltips #}
        const download_tooltip = bootstrap.Tooltip.getInstance($download);

        {# Enable Full Screen when image pressed #}
        $generated_image.click(function () {
            this.requestFullscreen();
        });

        {# Enable Full Screen when button pressed #}
        $full_screen.click(function () {
            $generated_image[0].requestFullscreen();
        });

        {# download the image when the icon is clicked #}
        $download.click(function (e) {
            let image_src = $generated_image.attr('src');
            $(this).attr('href', image_src);
            download_tooltip.setContent({'.tooltip-inner': 'Downloading!'})
        });

        $download.on('hidden.bs.tooltip', () => {
            download_tooltip.setContent({'.tooltip-inner': 'Download'});
        })

        function loading(isLoading) {
            if (isLoading) {
                // display loading indicator
                $button[0].innerHTML = 'Loading... <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
                $button.prop('disabled', true);
            } else {
                // hide loading indicator
                $button.text('Generate');
                $button.prop('disabled', false);
            }
        }

        function show_image() {
            $generated_image.show();
            $full_screen.show();
            $download.show();
        }

        function get_status(task_id) {
            $.ajax({
                type: "POST",
                url: '{% url "get_status_image" %}',
                contentType: 'application/json; charset=utf-8',
                headers: {"X-CSRFToken": "{{ csrf_token }}"}, // this is the csrf token for logged-in users
                data: JSON.stringify({
                    'task_id': task_id,
                }),
                success: function (result) {
                    if (result['status'] === 'Finished') {
                        get_image(task_id);
                    } else {
                        setTimeout(function () {
                            get_status(task_id);
                        }, 2000);
                    }
                },
            });
        }

        function get_image(task_id) {
            $.ajax({
                type: "POST",
                url: '{% url "get_image" %}',
                contentType: 'application/json; charset=utf-8',
                headers: {"X-CSRFToken": "{{ csrf_token }}"}, // this is the csrf token for logged-in users
                data: JSON.stringify({
                    'task_id': task_id,
                }),
                success: function (result) {
                    $generated_image.attr('src', result['image_base64']);
                    show_image();
                    loading(false);
                },
            });
        }

        $button.click(function (e) {
            loading(true);
            $.ajax({
                type: "POST",
                url: '{% url "generate_image" %}',
                contentType: 'application/json; charset=utf-8',
                headers: {"X-CSRFToken": "{{ csrf_token }}"}, // this is the csrf token for logged-in users
                data: JSON.stringify({
                    'text_prompt': $("#text-prompt").text(),
                }),
                success: function (result) {
                    if (result['premium'] === true){
                        show_alert("warning", "Please upgrade to premium to continue using the service.");
                        loading(false);
                    }
                    else {
                        get_status(result['task_id']);
                    }
                },
                error: function (result) {
                    show_alert("error", "Error");
                    loading(false);
                },
            });
        });
    </script>
    <script src="{% static 'js/speech_recognition.js' %}"></script>
    <script>
        let speech_recognition = dictate($("#text-prompt"));
        const mic_btn = $("#mic-btn");
        mic_btn.click(() => {
            if (mic_btn.hasClass("btn-outline-secondary")) {
                speech_recognition.start();
            } else {
                speech_recognition.stop();
            }
        });
    </script>
{% endblock content %}
